{% extends 'dashboard.html.twig' %}

{% block breadcrumb %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('search_index') }}">Search</a>
    </li>
    <li class="breadcrumb-item active">Finding Results</li>
  </ol>
{% endblock %}

{% block body %}
  <div id="ebayTime">
	<p>keywords:{{ keywords }}</p>
	<p>Max Price:{{ maxPrice }}</p>
  </div>
  {% if alert is defined %}
  <div class="alert alert-danger" role="alert">
    {{ alert }}
  </div>
  {% endif %}
  
  <!-- Example DataTables Card-->
    <div class="card mb-3">
	  <div class="card-header">
	    <i class="fa fa-table"></i> {{ name }}
	  </div>
      <div class="card-body">
	    <div class="table-responsive">
	    <table class="table table-bordered" id="{{ name}}" width="100%" cellspacing="0">
	      <thead>
            <tr>
              <th>#</th>
              <th>Item Number</th>
              <th>Description</th>
              <th>Currency</th>
	          <th>Amount</th>
	          <th>Shipping</th>
	          <th>Primary Category</th>
	          <th>End Time</th>
	          <th>Picture</th>
            </tr>
          </thead>
	      <tfoot>
            <tr>
              <th>#</th>
              <th>Item Number</th>
              <th>Description</th>
              <th>Currency</th>
	          <th>Amount</th>
	          <th>Shipping</th>
	          <th>Primary Category</th>
	          <th>End Time</th>
	          <th>Picture</th>
            </tr>
          </tfoot>
          <tbody>
	      {% for result in results %}
	        <tr>
              <th scope="row">{{ result.row }}</th>
	          <td><a href="{{ result.viewItemURL }}" target="_blank">{{ result.itemId }} </a> </td>
	          <td>{{ result.title }}</td>
	          <td>{{ result.currenyId }}</td>
	          <td>{{ result.value }}</td>
	          <td>{{ result.shipping}}</td>
	          <td>{{ result.primary_cat }} </td>
	          <td class="text-nowrap">{{ result.TimeLeft|date('Y-m-d H:i:s') }}</td>
	          <td><img src="{{result.galleryURL}}" class="img-thumbnail"></td>
	        </tr>
	      {% endfor %}
          </tbody>
        </table>
        </div>
	  </div>
	</div>
{% endblock %}

