{% extends 'dashboard.html.twig' %}

		{% block bcList %}
		<li class="breadcrumb-item"><a href="{{ path('search_index') }}">Searches</a></li>
        <li class="breadcrumb-item active">{% block bcTitle %}Edit{% endblock %}</li>
		{% endblock %}

{% block body %}
    <h1>Search edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
     <div class="btn-group">
	 <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            <a class="btn" href="{{ path('search_index') }}">Back to the list</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
	</div>
{% endblock %}
