{% extends 'baseContainer.html.twig' %}

{% block body %}
    <h1>Searches list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Keywords</th>
                <th>Descriptionsearch</th>
                <th>Listingtype</th>
                <th>Maxprice</th>
                <th>Sortorder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for search in searches %}
            <tr>
                <td><a href="{{ path('search_show', { 'id': search.id }) }}">{{ search.id }}</a></td>
                <td>{{ search.name }}</td>
                <td>{% if search.keywords %}{{ search.keywords|join(', ') }}{% endif %}</td>
                <td>{% if search.descriptionSearch %}Yes{% else %}No{% endif %}</td>
                <td>{% if search.listingType %}{{ search.listingType|join(', ') }}{% endif %}</td>
                <td>{{ search.maxPrice }}</td>
                <td>{{ search.sortOrder }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('search_show', { 'id': search.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('search_edit', { 'id': search.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('search_new') }}">Create a new search</a>
        </li>
    </ul>
{% endblock %}
