{% extends 'dashboard.html.twig' %}

{% block body %}
    <h1>Search creation</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	
		{{ form_row(form.name) }}
		{{ form_row(form.keywords) }}
		{{ form_row(form.descriptionSearch) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('search_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
